<div class="format">
Cadastro de moedas
</div>

<div class="devbody">
<b>Date: </b><%= date_br(Date.today) %>
</div>
<!--
<p>Samuel Sabino da Silva</p>
<br><b> A soma é <%#= 1 + 1 %> </b></br>

<p><%# ax =  "Minha variavel a " %></p>
<br><b>Imprimindo a variavel <%#= ax %></b></br>

<p><%# teste = "Esqueci de comer ontem" %></p>
<br><b>Oque te falei foi <%#= teste %></b></br>

<p><%# oi = "Isso é um teste" %></p>
<br><b><%#= oi %></b></br>

<p><b>A data de hoje é: <%#= Date.today %></b></p>
-->

<ul>
    <li>
       <%= link_to "Cadastrar de moedas", coins_path%>
    </li>
</ul>

<div class="amb-dev">
    Você está em um ambiente de <b><%= tipo_ambiente %></b>
</div>
